<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>helloservlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.lin.Servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/lin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>http</servlet-name>
    <servlet-class>com.lin.Servlet.httpSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>http</servlet-name>
    <url-pattern>/lin2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>helloconfig</servlet-name>
    <servlet-class>com.lin.Servlet.HelloServletConfig</servlet-class>
    <init-param>
      <param-name>value</param-name>
      <param-value>99</param-value>
    </init-param>
    <init-param>
      <param-name>name</param-name>
      <param-value>zhangsan</param-value>
    </init-param>
    <init-param>
      <param-name>age</param-name>
      <param-value>23</param-value>
    </init-param>
    <init-param>
      <param-name>address</param-name>
      <param-value>shenzhen</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloconfig</servlet-name>
    <url-pattern>/lin3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>demo1</display-name>
    <servlet-name>demo1</servlet-name>
    <servlet-class>demo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo1</servlet-name>
    <url-pattern>/demo1</url-pattern>
  </servlet-mapping>
</web-app>