<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.dao.UserDao"><!--命名空间 接口名称必须是接口全路径名  保证了测试类能找到这个映射文件-->

	<select id="getUserById" parameterType="int" resultType="com.lin.pojo.User"><!-- 接口方法名必须与sql id一致 -->
		select * from user where id =#{id};
	</select>
	
	<select id="getUserByUsername" parameterType="string" resultType="com.lin.pojo.User"><!-- 接口的返回值类型必须与resulttype一致 -->
		select username,birthday from user where username like'%${value}%';
	</select>
	
	<insert id="insertUser" parameterType="com.lin.pojo.User" useGeneratedKeys="true" keyProperty="id"><!--接口的入参必须与parametertype一致  -->
		insert into user values(null,#{username},#{birthday},#{sex},#{address},null)
	</insert>

</mapper>
